.searchBar{
  width: 98%;
  max-height: 200px;
  border-radius: 15px;
  opacity: 0.9;
  margin: 2% auto;
  background-color: #222;
  padding: 2%;
  h3{
    text-indent: -10000px;
    max-height: 35px;
    margin: 0 auto;
    max-width: 280px;
    background: url('../images/logo_md.png') center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
  }
  form{
    
    img{
      max-width: 15px;
    }
    label{
      cursor: pointer;
    }
  }
  
}

.analysis{

  width: 98%;
  max-width: 1000px;
  
  border-radius: 15px;
  opacity: 1;
  margin: 5% auto;
  background-color: #fff;
  padding: 2.5%;
  
  .analysisResult{
    position: relative;
    
    img{
      width: 100%;
      
    }
    .analysisBox{
      border: 2px solid #000;
      position: absolute;
      border-radius: 10px;
      opacity: 0.1;
      transition: opacity 0.6s ease;
      &:hover, &.hover{
        opacity: 0.6;
        border: 3px solid #245269;
      }
      &.active{
        opacity: 1;
        border: 3px solid darkred;

      }
    }
  }

  .boxSelector{
    position: absolute;
    top: 1%;
    right: 1%;
  }
  
  .alert{
    
    display: block; 
    position: fixed;
    right: 30px;
    bottom: 10px;
    max-width: 350px;
    
    .alert-link{
        font-size: 1.1em;
        line-height: 1.7em;
    }
  }
  
  
}