<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-lg-2 sidebar">
      <nav>
        
        <a ui-sref="home.search"><h1>Deepomatic</h1></a>
        
        <ul>
          <li ng-repeat="item in list">
            <div>
              
              <div ng-click="relocate(item)">

                <img class="img-responsive img-thumbnail" ng-if="item.type == 'url'" ng-src="{{item.imageUrl}}" id="targetImage"/>
                <img class="img-responsive img-thumbnail" ng-if="item.type == 'file'" data-ng-src="data:image/png;base64,{{item.imageFile}}" id="targetImage"/>
              </div>
            </div>
          </li>
          
        </ul>
      </nav>
    </div>

    <div class="col-md-9 col-lg-10 home" ui-view>
      
    </div>
  </div>


</div>



