<div class="searchForm">
  <h1><a ui-sref="home.search">Deepomatic</a></h1>
  
  <form name="searchForm" ng-submit="submit()" class="clearfix">
    
    <div class="form-group">
      <input type="url" class="form-control text-center" ng-model="myUrl" ng-pattern="regex" placeholder="place url here" required/>
    </div>
    
    <button type="submit" class="btn btn-default pull-right"><img ng-if="searchForm.$valid" src="images/send_icon.png"> Go!</button>
  
  </form>

  <form name="uploadForm" ng-submit="submitFile()" class="clearfix">
    
    <div class="form-group" >
      <input type="file" id="myFile" ng-model="myFile" accept=".jpg, .jpeg, .png" base-sixty-four-input class="hidden" required>
      <label for="myFile" class="form-control btn btn-default text-center">{{myFile.filename || 'Upload a file'}}</label>
    </div>

    <button type="submit" class="btn btn-default pull-right"><img ng-if="uploadForm.$valid && myFile.base64.length > 0" src="images/send_icon.png"> Go!</button>

  </form>
  
  
<div>